[Unit]
Description=DMRGateway

[Service]
Type=simple
PIDFile=/home/mmdvm/dmrgateway.pid
WorkingDirectory=/home/mmdvm/

User=root
Group=root

OOMScoreAdjust=-1000

ExecStart=/root/sources/DMRGateway/DMRGateway /etc/dmrgateway
ExecStop=/bin/kill -HUP $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target 