[Unit]
Description=MMDVMHost
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure

User=root
Group=root

OOMScoreAdjust=-1000

ExecStart=/usr/bin/mmdvmhost /etc/MMDVMHost/mmdvmhost.cfg
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
