[Unit]
Description=MMDVMHost
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure
PIDFile=/root/mmdvmhost.pid
WorkingDirectory=/root/

User=root
Group=root

OOMScoreAdjust=-1000

ExecStart=/usr/bin/mmdvmhost /etc/MMDVMHost/mmdvmhost.cfg
ExecStop=/bin/kill -HUP $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target 
