[Unit]
Description=MMDVM-Info (environment info for MMDVM displays over MQTT)
After=network.target mosquitto.service
Wants=mosquitto.service
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure
User=root
Group=root
ExecStart=/usr/bin/mmdvm-info /etc/MMDVMHost/mmdvm-info.ini

[Install]
WantedBy=multi-user.target
